@font-face {
    font-family: 'leaguespartan';
    src: url('../../assets/fonts/leaguespartan-bold.woff'); /* IE9 Compat Modes */
    src:  url('../../assets/fonts/leaguespartan-bold.woff') format('woff'), /* Super Modern Browsers */
         url('../../assets/fonts/leaguespartan-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/leaguespartan-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

/* 
.fullpageBg{
    height: 100vh;
    width:100%;
    background-image: url('../../assets/images/photo6.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: black;
} */

.containerMain{
    transform: translateY(50%);
    padding-left: 50px;
    -webkit-transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.containerMain button{
    margin-left: 0;
} 
.title{
    color:white;
    font-family: 'leaguespartan';
    font-size:10rem;
    line-height: 125px;
    letter-spacing: -10px;
    z-index: 1;
    margin: 0;
}
 
.subtext{
    color:#fff;
    font-family: 'leaguespartan';
    font-size: 1.5rem;
    margin: 0;
} 


 .btnCont{
    margin-top:15px;
} 

 .colorMain{

    text-shadow: -6px 0px 6px rgba(253, 0, 148, 0.9);
    color:rgb(243,234,95)

} 

 .colorMainSecond{
    color:rgba(253, 0, 148, 0.9);
    text-shadow: -6px 0px 6px rgb(243,234,95);
} 
 
.mainCont{
    background-color: red;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
} 
