.btnCont{
    width: 100%;
}

button{
    outline: none;
    background-color: transparent;
    color:#fff;
    border:3px solid rgb(243,234,95);
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    margin-left:auto;
    margin-right: auto;
    display: block;
    position: relative;
}


.animated{
    background: rgba(253, 0, 148, 0.9) !important;
    color:#fff;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

button:hover{
    cursor: pointer;
}