.fixedMenu{
    position: fixed;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    width: 100%;
    z-index: 800;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.navReset{
    list-style-type: none;
    width: 100%;
    display: none;
    justify-content: space-around;
    padding: 0;
}

.navReset > li{
    color:#fff;
    display: block;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
}


/* .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
} */

.imageLogo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.burgerCont{
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.burgerRound{
    width: 30px;
    height: 30px;
    border:2px solid rgb(243,234,95);
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.burgerLineCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.burgerLine{
    width: 70%;
    height: 2px;
    background-color: rgba(253, 0, 148, 0.9);
}

.spaced{
    margin-top: 4px;
    margin-bottom: 4px;
}

.isActive{
    text-decoration: none;
    color:#fff;
}

.decorLink{
    text-decoration: none;
    color:#fff;
}